<html>
    <head></head>
    <body style="font-size: 14px">
        <p>Hello,
        <p>You'ra receiving this email because you requested a password reset for your user account at <a href="{{SERVER_HOST}}">Websocket Service</a>.</p>
        <p>Please click the link below to reset your password.</p>
        <a href="{{RESET_URL}}">{{RESET_URL}}</a>
        <p>Your username, in case you've forgotten: {{username}}</p>
        <p>This link will expire in 5 minutes.</p>
        <p><i>If you did not request this, please ignore this email.</i></p>
        <p>Thanks for using our site!</p>
        <p>The <a href="{{SERVER_HOST}}">Websocket Service</a> team.</p>
    </body>
</html>
